
  <div class="about">
    <h2>À propos de nous</h2>
    <div class="about-content">
      <div class="about-text">
        <h3>Découvrez Basketball Stats</h3>
        <p>
          Notre mission est de rendre les statistiques de basketball accessibles et compréhensibles pour tous. Que vous soyez un fan occasionnel ou un analyste chevronné, nous nous efforçons de vous fournir les informations dont vous avez besoin pour suivre, analyser et apprécier le jeu.
        </p>
        <p>
          Notre équipe est composée de passionnés de basketball, de développeurs talentueux et d'analystes expérimentés. Nous travaillons ensemble pour vous offrir une expérience utilisateur exceptionnelle et des données fiables.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/apropos.png" alt="Basketball Stats Image" />
      </div>
    </div>
  </div>
  